@import "../../global";

.privacy {
  margin-bottom: 2rem;

  .statics-title {
    margin: {
      top: 2rem;
      bottom: 1.5rem;
    }
  }

  .privacy-q-and-a {
    margin: 1rem 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
