@import "../../global";

.container {
  min-width: 20rem;
  box-sizing: border-box;
}

// To ensure that Mui's internal styles get overwritten.
.MuiContainer-root {
  @media (min-width: 600px) {
    padding-right: 1rem !important;
    padding-left: 1rem !important ;
  }
}
