@import "../../../global";

.request-paper {
  @include flex-container($dir: column);
  background: rgb(242, 245, 246);
  background: linear-gradient(
    180deg,
    rgba(242, 245, 246, 1) 0%,
    rgba(251, 252, 252, 1) 34%,
    rgba(255, 255, 255, 1) 66%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 11rem;
  flex-grow: 1;
  padding: 0.5rem !important;
  padding-top: 0.25rem !important;
  margin: 0 !important;
  color: $primary;

  .req-paper-header {
    @include grid-template($gap: 0.25rem, $rows: repeat(2, auto));
    width: 100%;
    margin-bottom: 0.25rem;

    .score-container {
      @include flex-container($align: center, $justify: space-between);

      .stars-num-wrapper {
        @include flex-container($align: flex-start);

        .r-p-user-score-num {
          color: $neutral;
          font-size: $sm;
          margin-right: 0.25rem;
          direction: ltr;
        }

        // .MuiSvgIcon-root {
        //   width: $md;
        //   height: $md;
        // }

        // #user-icon {
        //   margin-right: 0.2rem;
        //   font-size: $md;
        // }
      }
    }

    .req-header-items-wrapper {
      @include flex-container($align: center, $justify: flex-end);

      .req-paper-header-item {
        .req-paper-date-time {
          @include flex-container($justify: space-around);
          width: 5.5rem;
        }
      }
    }
  }

  .req-paper-main-divider {
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .req-paper-main {
    @include flex-container($dir: column);
    width: 100%;
    flex-grow: 1;
    .req-paper-title {
      margin: 0;
      color: $primary;
      font-size: $md;
      font-weight: bold;
    }

    .req-paper-description {
      margin: 0.25rem 0;
      color: $secondary;
      font-size: $sm;
      word-break: break-word;
    }

    .req-paper-footer-wrapper {
      @include flex-container($align: center);
      width: 100%;
      margin-top: auto;

      .req-paper-location-wrapper {
        flex-grow: 1;
        @include flex-container($align: center);

        #location-icon {
          font-size: $md;
          margin: 0 0.25rem;
        }

        & p {
          margin: 0;
          font-size: $sm;
        }

        .req-paper-location {
          font-weight: bold;
          color: $primary;
        }
      }

      & button {
        margin: 0;
        background: $brand-color !important;
      }
    }
  }
}
