@import "../../../../global";

.w8ing-details-popup {
  .w8ing-details-fields-wrapper {
    .MuiInputBase-input.Mui-disabled {
      color: #170d0dd4 !important;
    }

    @include grid-template($rows: auto auto);
    width: 100%;
    margin-top: 0.4rem; //Cause Mui's label of textfield disappeared partially.

    @media (max-width: 40rem) {
      gap: 0.5rem;
    }

    textarea {
      text-align: justify !important;
      white-space: unset; //For Firefox
    }
  }

  .w8ing-details-btn-wrapper {
    text-align: center;
    margin: {
      bottom: 0.4rem; //Cause Mui's label of textfield disappeared partially.
      top: 2rem;
    }

    @media (max-width: 40rem) {
      margin-top: 1rem;

      display: block;

      .xs-btn {
        width: 100%;
        height: 2.5rem; //Avoid code duplication.
      }
    }
  }
}
