@import "../../../global";

.details-general-info-grid-container {
  @include grid-container();
  grid-template-areas:
    "item1 item1"
    "item2 item3"
    "item4 item4"
    "item5 item5";

  .details-general-info-grid-item1 {
    grid-area: item1;
    .disable-textfield {
      pointer-events: none;
    }
  }

  .details-general-info-grid-item2 {
    grid-area: item2;
    .disable-textfield {
      pointer-events: none;
    }
  }

  .details-general-info-grid-item3 {
    grid-area: item3;
    .disable-textfield {
      pointer-events: none;
    }
  }

  .details-general-info-grid-item4 {
    grid-area: item4;

    textarea {
    text-align: justify !important;
      white-space: unset; //For Firefox
    }
    .disable-textfield {
      pointer-events: none;
    }
  }

  .details-general-info-grid-item5 {
    grid-area: item5;
    .disable-textfield {
      pointer-events: none;
    }
  }
}
