@import "../../global";

.why-us {
  margin-top: 2rem;

  .statics-title {
    margin-bottom: 1.5rem;
  }

  .par1-wrapper {
    margin: {
      top: 0.5rem;
      bottom: 1.5rem;
    }
  }

  .why-us-items {
    margin-bottom: 2rem;

    .why-us-item {
      @include flex-container($align: center);
      margin: {
        bottom: 0.5rem;
        right: 0.5rem;
      }

      .why-us-item-icon {
        font-size: $xxxlg;
        color: $brand-color;
        margin-left: 0.5rem;
      }
    }
  }
  .why-video-wrapper {
    width: 100%;
    height: 23rem;
    text-align: center;
    margin: {
      top: 3rem;
      bottom: 3rem;
    }

    @media (max-width: 60rem) {
      height: 17rem;
    }

    video {
      width: 40rem;
      height: 100%;

      @media (max-width: 60rem) {
        width: 30rem;
      }
    }
  }

  .why-us-below-paragraph {
    margin-bottom: 2rem;
  }
}
